.table-container {
  padding: 20px;
  background-color: rgb(240, 239, 239);
  .inner-table {
    margin-top: 20px;
    tr {
      cursor: pointer;
    }
  }
  .btn-container {
    margin: 0 0 20px 0;
    button {
      margin-left: 10px;
    }
    button:first-child {
      margin-left: 0;
    }
  }
}
